@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'PT Sans', sans-serif;
}

header p{
    color: #808080;
}

header .top-part{
    background-color: #000;
    display: flex;
    justify-content: space-between;
    height: 44px;
    align-items: center;
    padding: 0 405px;
}

header .top-part .left-part, header .top-part .right-part{
    display: flex;
    width: max-content;
    font-size: 12px;
}

header .top-part .left-part img{
    max-width: 16px;
    margin-right: 15px;
}

header .top-part .right-part img{
    max-width: 14px;
    margin-right: 10px;
}

header .bot-part{
    background-color: #0F0F0F;
    display: flex;
    height: 80px;
    font-size: 14px;
    padding: 0 405px;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-family: 'Stick No Bills', sans-serif;
    color: #FFF;
}

header .logo{
    font-size: 36px;
    font-weight: 700;
    margin-left: 30px;
}

header .bot-part .right-part{
    display: flex;
    align-items: center;
}

header nav{
    display: flex;
}

header nav a{
    padding: 31px 20px;
    text-transform: uppercase;
    font-size: 14px;
    color: #FFF;
    text-decoration: none;
}

header nav a:hover{
    text-decoration: underline;
    cursor: pointer;
}

header nav .active{
    background-color: #1F1F1F;
    color: #FFF;
}

header .buttons img{
    width: 22px;
    margin-left: 20px;
}

.first-screen{
    background-image: url(../static/first-screen-bg.png);
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    padding-top: 80px;
    padding-bottom: 154px;
}

.first-screen .logo-box{
    margin: 80px auto;
    border: #FFF solid 4px;
    width: min-content;
    white-space: nowrap;
    padding: 94px 68px;
}

.first-screen .logo-box .logo{
    font-size: 64px;
    border-bottom: #FFF solid 2px;
    margin-bottom: 3px;
}

.first-screen .logo-box h2{
    font-size: 22px;
    font-weight: 400;
}

.first-screen p{
    margin: 0 auto;
    max-width: 730px;
}

.second-screen{
    display: flex;
}

.line{
    width: 120px;
    height: 1px;
    background-color: #FFF;
    margin: 50px auto;
}

.new-season{
    background-color: #000;
    width: 54%;
    color: #FFF;
    font-family: 'Playfair Display', serif;
    padding: 93px 30px;
}

.new-season h1{
    font-size: 36px;
    text-align: center;
    font-weight: 400;
}

.new-season .products{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.card{
    background-color: #191B1C;
    padding: 55px 22px;
}

.product .name{
    font-size: 16px;
    margin-top: 25px;
}

.product .cost{
    font-size: 14px;
    margin-top: 10px;
}

.new-collection{
    background-image: url(../static/new-collection-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 46%;
    color: #FFF;
    text-align: center;
}

.new-collection h1{
    margin-top: 484px;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 36px;
}
.new-collection a{
    text-decoration: none;
    color: #FFF;
    border: #FFF solid 1px;
    padding: 12px 28px;
}

.new-collection a:hover{
    background-color: #ffffff22;
}

.third-screen{
    display: flex;
}

.collection-2018{
    background-color: #000;
    color: #FFF;
    width: 54%;
    text-align: center;
}

.collection-2018 h1{
    font-size: 36px;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    margin-top: 80px;
}

.collection-2018 p{
    max-width: 471px;
    margin: 0 auto;
    margin-bottom: 61px;
    font-size: 14px;
}

.collection-2018 a{
    text-decoration: none;
    color: #FFF;
    border: #FFF solid 1px;
    padding: 12px 28px;
    text-transform: uppercase;
}

.collection-2018 a:hover{
    background-color: #ffffff22;
}

.fourth-screen{
    background-color: #000;
    color: #FFF;
    padding: 120px 405px 110px 405px;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.fourth-screen h1{
    font-size: 36px;
    font-weight: 700;
}

.fourth-screen .products{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.fourth-screen .products .product{
    margin-bottom: 40px;
    text-align: start;
}

.brends{
    padding: 60px 0 80px 0;
    color: #FFF;
    background-color: #0F0F0F;
    text-align: center;
}

.brends h1{
    font-size: 36px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}

.brends .line{
    margin: 40px auto;
}

footer{
    color: #FFF;
}

footer .top-part, footer .bot-part{
    padding: 0 405px;
}

footer .top-part{
    display: flex;
    justify-content: space-between;
    background-image: url(../static/footer-top-bg.png);
    padding: 80px 405px 101px 405px;
}

.first-column, .second-column, .third-column{
    max-width: 32%;
}

footer h1{
    font-size: 24px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    margin-bottom: 40px;
}

footer p{
    font-size: 14px;
}

.categories{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.categories a{
    color: #FFF;
    text-decoration: none;
    font-size: 14px;
    padding: 10px 20px;
    background-color: #0F0F0F;
    margin-bottom: 20px;
}

.third-column p{
    margin-bottom: 37px;
}

.third-column form{
    display: flex;
}

.third-column input[type=text]{
    border: none;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px 15px;
    font-size: 14px;
    color: rgb(193, 193, 193);
    min-height: 22px;
}

::-webkit-input-placeholder {
   color:rgb(193, 193, 193);
}
:-moz-placeholder {
   color:rgb(193, 193, 193);
   opacity:  1;
}
::-moz-placeholder {
   color:rgb(193, 193, 193);
   opacity:  1;
}
:-ms-input-placeholder {
   color:rgb(193, 193, 193);
}
::-ms-input-placeholder {
   color:rgb(193, 193, 193);
}

::placeholder {
   color:rgb(193, 193, 193);
}

.third-column input[type=text]:active, .third-column input[type=text]:hover, .third-column input[type=text]:focus {
    outline: 0;
    outline-offset: 0;
}

.third-column input[type=button]{
    min-height: 42px;
    padding: 10px 20px;
    color: #FFF;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #000;
    border: none;
    margin: 0;
    cursor: pointer;
}

.third-column input[type=button]:active{
    background-color: #1F1F1F;
}

footer .bot-part{
    height: 50px;
    background-color: #000;
    display: flex;
    align-items: center;
}

footer .bot-part{
    font-size: 12px;
}
